<!-- Main Sidebar Container -->
<aside class="main-sidebar sidebar-dark-primary elevation-4">
    <!-- Brand Logo -->
    <a role="button" routerLink="/" class="brand-link">
        <span class="brand-text font-weight-light">UJA-Soft-Pack</span>
    </a>

    <!-- Sidebar -->
    <div class="sidebar">
        <!-- Sidebar Menu -->
        <nav class="mt-2">
            <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu">
                <li class="nav-item menu-close">
                    <a role="button" class="nav-link bg-info">
                        <i class="nav-icon fas fa-file-upload"></i>
                        <p>
                            Categorías
                            <i class="right fas fa-angle-left"></i>
                        </p>
                    </a>
                    <ul class="nav nav-treeview">
                        <li *ngFor="let category of categories" class="nav-item">
                            <a role="button" (click)="gotoItem(category.name)" class="nav-link active">
                                <i class="far fa-circle nav-icon"></i>
                                <p class="text-bold text-uppercase"> {{ category.name }} </p>
                            </a>
                        </li>
                    </ul>
                </li>
                <li class="nav-item">
                    <a href="https://github.com/Diegobc21/UJA-Soft-Pack" target="_blank" class="nav-link">
                        <i class="nav-icon fab fa-github"></i>
                        <p>
                            GitHub
                            <span class="right badge badge-danger">New</span>
                        </p>
                    </a>
                </li>
            </ul>
        </nav>
        <!-- /.sidebar-menu -->
    </div>
    <!-- /.sidebar -->
</aside>